{% include header %}
<body class="infobar-overlay breadcrumb-top">
  {% include analytics %}
  {% include topnav %}
  <div id="wrapper">
    <div id="layout-static">
      <nav class="static-leftbar-wrapper leftbar-default">
        <div class="static-leftbar">
          {% include leftbar %}
        </div>
      </nav>
      <div class="static-content-wrapper">
        <div class="static-content">
          <div class="page-content">
            <ol class="breadcrumb">
              {% block breadcrumb %}<li><a href="index.html">Home</a></li>{% endblock %}
            </ol>
            <div class="page-heading">            
              <h1>{% block title %}Blank{% endblock %}</h1>
              {% include header-options-tasks %}
            </div>
            <div class="container-fluid">
              {% block content %}{% endblock %}
            </div> <!-- .container-fluid -->
          </div> <!-- #page-content -->
        </div>
        {% include footer %}
      </div>
    </div>
  </div>
  <div class="infobar-wrapper scroll-pane">
    {% include rightbar %}
  </div>
  {% include demo-switcher %}
  {% include scripts %}
  <!-- Load page level scripts-->
  {% block scripts %}{% endblock %}
  <!-- End loading page level scripts-->
</body>
</html>