<div id="headerbar" class="hidden-sm hidden-xs">
	<div class="container-fluid">
    <div class="yamm-content container-sm-height">
      <div class="row row-sm-height yamm-col-bordered">
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">                                            
          <h3 class="yamm-category">Plugins</h3>
          <ul class="list-unstyled without-icon">
            <li><a href="#"><i class="ion-shuffle"></i><span>Components</span></a></li>
            <li><a href="#"><i class="ion-map"></i><span>Maps</span></a></li>
            <li><a href="#"><i class="ion-android-create"></i><span>Forms</span></a></li>
            <li><a href="#"><i class="ion-android-contract"></i><span>Tables</span></a></li>
            <li><a href="#"><i class="ion-calendar"></i><span>Calendar</span></a></li>
            <li><a href="#"><i class="ion-stats-bars"></i><span>Analytics</span></a></li>
            <li><a href="#"><i class="ion-android-image"></i><span>Image Galleries</span></a></li>
            <li><a href="#"><i class="ion-android-arrow-up"></i><span>File-Uploader</span></a></li> 
          </ul>                                    
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Group</h3>
          <ul class="list-unstyled without-icon">
            <li>
              <a href="#">
                <span class="name">Link</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Another link</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Something</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">Without icon</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="name">More</span>
                <span class="muted">Integer vitae libero ac risus egestas placerat.</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Recent Post</h3>
          <ul class="media-list">
            <li class="media new">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_01.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Amy Green</span><span class="muted">Integer vitae libero ac risus egestas placerat.</span>
                </div>
              </a>
            </li>
            <li class="media new">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_09.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Daniel Andrews</span><span class="muted">Vestibulum commodo felis quis tortor</span>
                </div>
              </a>
            </li>
            <li class="media">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_03.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Harold Hawkins</span><span class="muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
              </a>
            </li>
            <li class="media">
              <a href="#">
                <div class="media-left">
                  <img src="assets/demo/avatar/avatar_02.png" alt="" class="avatar">
                </div>
                <div class="media-body">
                  <span class="name">Jane Simpson</span><span class="muted">Fusce lobortis lorem at ipsum semper sagittis.</span>
                </div>
              </a>
            </li>
          </ul>  
        </div>
        <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
          <h3 class="yamm-category">Shortcut</h3>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile inverse">
                <span class="icon"><i class="ion-beer"></i></span>
                <span class="title">Accordions</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile warning">
                <span class="icon"><i class="ion-alert-circled"></i></span>
                <span class="title">Alert Info</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile alt primary">
                <span class="icon"><i class="ion-quote"></i></span>
                <span class="title">View All</span>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="tectonic-shortcut-tile alt indigo">
                <span class="icon"><i class="ion-arrow-move"></i></span>
                <span class="title">Drag & Drop</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>