<div class="leftbar">
	<div class="widget">
		<div class="widget-heading">Account Info</div>
		<div class="widget-body">
			<div class="sparkline">
				<div class="info">
					<span class="title">Orders</span>
					<span class="text">7,504</span>
				</div>
				<div class="pie">
					<div id="leftbarpie1"></div>
				</div>
			</div>
			<div class="sparkline">
				<div class="info">
					<span class="title">Credit Balance</span>
					<span class="text">$17,504</span>
				</div>
				<div class="tristate">
					<div id="leftbartristate1"></div>
				</div>
			</div>
			<div class="sparkline">
				<div class="info">
					<span class="title">Total Sales</span>
					<span class="text">657</span>
				</div>
				<div class="bar">
					<div id="leftbarbar1"></div>
				</div>
			</div>
			<div class="sparkline">
				<div class="info">
					<span class="title">Total Earnings</span>
					<span class="text">$59,662</span>
				</div>
				<div class="line">
					<div id="leftbarline1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="widget stay-on-collapse" id="widget-leftbar">
		{% include navigation-starter %}
	</div>
</div>