<div class="leftbar">
  <div class="widget">
    <div class="widget-heading">Media List</div>
    <div class="widget-body">
      <ul class="media-list scroll-content">
        <li class="media">
          <a href="#">
            <div class="media-left">
              <span class="icon success"><i class="ion-android-done"></i></span>
            </div>
            <div class="media-body">
              <span class="name">Jerrod Miller</span> is now following you.
              <span class="time">2 mins ago</span>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-left">
              <span class="icon purple"><i class="ion-android-sync"></i></span>
            </div>
            <div class="media-body">
              <span class="name">Ben Hepworth</span> updated project <span class="link">Marvin</span>
              <span class="time">2 mins ago</span>
            </div>
          </a>
        </li>
        <li>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-left">
              <span class="icon blue"><i class="ion-android-document"></i></span>
            </div>
            <div class="media-body">
              <span class="name">Ken Duren</span> added new files.
              <span class="time">2 mins ago</span>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-left">
              <span class="icon teal"><i class="ion-android-done"></i></span>
            </div>
            <div class="media-body">
              Your changes were saved.
              <span class="time">2 mins ago</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="widget stay-on-collapse" id="widget-leftbar">
    {% include navigation %}
  </div>
</div>