<div class="leftbar">
	<div class="widget hide-on-horizontal hide-on-small">
		<div class="widget-body">
			<div class="userinfo clearfix">
				<div class="avatar">
					<img class="img-responsive img-circle" src="assets/demo/avatar/avatar_06.png">
					<!-- <span class="status online"></span> -->
				</div>
				<div class="info">
					<span class="name">Jonathan Smith</span>
					<span class="email">jon@tectonic.io</span>
				</div>
			</div>
		</div>
	</div>
	<div class="widget stay-on-collapse" id="widget-leftbar">
		{% include navigation %}
	</div>
</div>