<div class="leftbar">
	<div class="widget">
		<div class="widget-body p-md">
			<div id="leftbar-search">
				<input type="text" class="form-control" placeholder="Search...">
				<button class="" type="button"><i class="ion-search"></i></button>
			</div>
		</div>
	</div>
	<div class="widget stay-on-collapse" id="widget-leftbar">
		{% include navigation-starter %}
	</div>
</div>