<div class="infobar scroll-content" id="heightFixed">
  <div id="widgetarea" class="rightbar">
    <div class="widget" id="left">
      <div class="widget-heading">
        <a data-target="#options" data-toggle="collapse" href="javascript:;"><h4>Online</h4></a>
      </div>
      <div class="scroll-pane widget-body">
        <ul class="media-list scroll-content">
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/2.jpg">
                <span class="status online"></span>
              </div>
              <div class="media-body">
                <span class="contact">William Fowler</span>
                <span class="time">Programmer</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/1.jpg">
                <span class="status busy"></span>
              </div>
              <div class="media-body">
                <span class="contact">Harry Watson</span>
                <span class="time">Managing Director</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/5.jpg">
                <span class="status online"></span>
              </div>
              <div class="media-body">
                <span class="contact">Jessie Watson</span>
                <span class="time">Jr. Executive</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_02.png">
                <span class="status online"></span>
              </div>
              <div class="media-body">
                <span class="contact">Jonathan Smith</span>
                <span class="time">Senior Assistant</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_04.png">
                <span class="status away"></span>
              </div>
              <div class="media-body">
                <span class="contact">Felipe Mullins</span>
                <span class="time">Programmer</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_07.png">
                <span class="status online"></span>
              </div>
              <div class="media-body">
                <span class="contact">Adam Clayton</span>
                <span class="time">Senior Manager</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/8.jpg">
                <span class="status online"></span>
              </div>
              <div class="media-body">
                <span class="contact">Jenny Hunt</span>
                <span class="time">Project Manager</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="widget-heading">
        <a data-target="#options" data-toggle="collapse" href="javascript:;"><h4>Offline</h4></a>
      </div>
      <div class="scroll-pane widget-body">
        <ul class="media-list scroll-content">
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_09.png">
                <span class="status offline"></span>
              </div>
              <div class="media-body">
                <span class="contact">Phil Pittman</span>
                <span class="time">Technical Manager</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_07.png">
                <span class="status offline"></span>
              </div>
              <div class="media-body">
                <span class="contact">Eric Frazier</span>
                <span class="time">Executive Engineer</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_10.png">
                <span class="status offline"></span>
              </div>
              <div class="media-body">
                <span class="contact">Linda Fowler</span>
                <span class="time">Web Designer</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
                <span class="status offline"></span>
              </div>
              <div class="media-body">
                <span class="contact">Jamie Scott</span>
                <span class="time">Supervisor</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <img class="avatar" alt="" src="assets/demo/avatar/avatar_12.png">
                <span class="status offline"></span>
              </div>
              <div class="media-body">
                <span class="contact">Alexis Berry</span>
                <span class="time">Programmer</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="right" class="widget">
      <div class="p-md b-b">
        <a class="btn btn-inverse back" href="#"><i class="ion-android-arrow-back"></i></a>
      </div>
      <ul class="media-list scroll-content">
        <li class="media">
          <a href="#">
            <div class="media-left">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
              <span class="badge badge-success"></span>
            </div>
            <div class="media-body">
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-body">
              <div class="arrow_box_left">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
            <div class="media-right">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
              <span class="badge badge-success"></span>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-left">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
              <span class="badge badge-warning"></span>
            </div>
            <div class="media-body">
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-body">
              <div class="arrow_box_left">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
            <div class="media-right">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
              <span class="badge badge-warning"></span>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="#">
            <div class="media-left">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
              <span class="badge badge-danger"></span>
            </div>
            <div class="media-body">
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
          </a>
        </li> 
        <li class="media">
          <a href="#">
            <div class="media-left">
              <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
              <span class="badge badge-danger"></span>
            </div>
            <div class="media-body">
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper. Aliquam vel justo vel nisl sollicitudin bibendum</span>
                <span class="time">1:44 PM</span>
              </div>
              <div class="arrow_box_right">
                <span class="text">In placerat feugiat odio a ullamcorper</span>
                <span class="time">1:44 PM</span>
              </div>
            </div>
          </a>
        </li>   
      </ul>
      <div class="impression clearfix pl pr">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Placeholder">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>