<div class="infobar scroll-content">
  <div id="widgetarea" class="rightbar">
    <div class="widget">
      <div class="widget-heading"><a><h4>Account Info</h4></a></div>
      <div class="widget-body">
        <div class="sparkline">
          <div class="info">
            <span class="title">Orders</span>
            <span class="text">7,504</span>
          </div>
          <div class="pie">
            <div id="rightbarpie1"></div>
          </div>
        </div>
        <div class="sparkline">
          <div class="info">
            <span class="title">Credit Balance</span>
            <span class="text">$17,504</span>
          </div>
          <div class="tristate">
            <div id="rightbartristate1"></div>
          </div>
        </div>
        <div class="sparkline">
          <div class="info">
            <span class="title">Total Sales</span>
            <span class="text">657</span>
          </div>
          <div class="bar">
            <div id="rightbarbar1"></div>
          </div>
        </div>
        <div class="sparkline">
          <div class="info">
            <span class="title">Total Earnings</span>
            <span class="text">$59,662</span>
          </div>
          <div class="line">
            <div id="rightbarline1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>