<div class="infobar scroll-content">
  <div id="widgetarea" class="rightbar">
    <div class="widget">
      <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#options"><h4>Notifications</h4></a>
      </div>
      <div class="widget-body scroll-pane">
        <ul class="media-list scroll-content">
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon success"><i class="ion-checkmark-circled"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Jerrod Miller</span> is now following you.
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon purple"><i class="ion-refresh"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Ben Hepworth</span> updated project <span class="link">Marvin</span>
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon blue"><i class="ion-android-document"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Ken Duren</span> added new files.
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon teal"><i class="ion-checkmark-round"></i></span>
              </div>
              <div class="media-body">
                Your changes were saved.
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon success"><i class="ion-checkmark-circled"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Jerrod Miller</span> is now following you.
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon purple"><i class="ion-refresh"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Ben Hepworth</span> updated project <span class="link">Marvin</span>
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#">
              <div class="media-left">
                <span class="icon blue"><i class="ion-android-document"></i></span>
              </div>
              <div class="media-body">
                <span class="name">Ken Duren</span> added new files.
                <span class="time">2 mins ago</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#options"><h4>Progress</h4></a>
      </div>
      <div class="widget-body scroll-pane">
        <ul class="media-list scroll-content">
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  50%
                </span>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 87%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  87%
                </span>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 44%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  44%
                </span>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  50%
                </span>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 87%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  87%
                </span>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <div class="media-body">
                <span class="text" data-localize="topnav_admin_dashboard_psd_design">Admin dashboard psd design</span> 
                <div class="progress">
                  <div class="progress-bar progress-bar-lime" style="width: 44%"></div>
                </div>
              </div>
              <div class="media-right">
                <span class="icon text">
                  44%
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#options"><h4>Files</h4></a>
      </div>
      <div class="widget-body scroll-pane">
        <ul class="media-list scroll-content">
          <li class="media">
            <div class="media-content">
              <span class="action">
                <a class="approve"><i class="ion-arrow-down-a"></i></a>
                <a class="reject"><i class="ion-close-round"></i></a>
              </span>
              <div class="media-left">
                <span class="icon success" data-localize="topnav_ps">ps</span>
              </div>
              <div class="media-body">
                <a class="link" data-localize="topnav_admin_dashboard_psd">admin dashboard.psd</a>
                <span class="time" data-localize="topnav_by_patrick_kim">by Patrick Kim</span>
                
              </div>
            </div>                                                                      
          </li>
          <li class="media">
            <div class="media-content">
              <span class="action">
                <a class="approve"><i class="ion-arrow-down-a"></i></a>
                <a class="reject"><i class="ion-close-round"></i></a>
              </span>
              <div class="media-left">
                <span class="icon success" data-localize="topnav_le">le</span>
              </div>
              <div class="media-body">
                <a class="link" data-localize="topnav_ui_kit_metarials">ui kit material.psd</a>
                <span class="time" data-localize="topnav_harry_wright">by Harry Wright</span>
                
              </div>
            </div>                                                                      
          </li>
          <li class="media">
            <div class="media-content">
              <span class="action">
                <a class="approve"><i class="ion-arrow-down-a"></i></a>
                <a class="reject"><i class="ion-close-round"></i></a>
              </span>
              <div class="media-left">
                <span class="icon success" data-localize="topnav_ps">ps</span>
              </div>
              <div class="media-body">
                <a class="link" data-localize="topnav_admin_dashboard_psd">admin dashboard.psd</a>
                <span class="time" data-localize="topnav_by_patrick_kim">by Patrick Kim</span>
                
              </div>
            </div>                                                                      
          </li>
          <li class="media">
            <div class="media-content">
              <span class="action">
                <a class="approve"><i class="ion-arrow-down-a"></i></a>
                <a class="reject"><i class="ion-close-round"></i></a>
              </span>
              <div class="media-left">
                <span class="icon success" data-localize="topnav_zi">zi</span>
              </div>
              <div class="media-body">
                <a class="link" data-localize="topnav_demo_stock">demo stock photos.psd</a>
                <span class="time" data-localize="topnav_by_ana_marshall">by Anna Marshall</span>
              </div>
            </div>                                                                      
          </li>
          <li class="media">
            <div class="media-content">
              <span class="action">
                <a class="approve"><i class="ion-arrow-down-a"></i></a>
                <a class="reject"><i class="ion-close-round"></i></a>
              </span>
              <div class="media-left">
                <span class="icon success" data-localize="topnav_ps">ps</span>
              </div>
              <div class="media-body">
                <a class="link" data-localize="topnav_profile_page">profile page.psd</a>
                <span class="time" data-localize="topnav_by_patrick_kim">by Patrick Kim</span>
              </div>
            </div>                                                                      
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>