<div class="infobar scroll-content">
	<div id="widgetarea" class="rightbar">
		<div class="widget">
			<div class="widget-heading">
				<a href="javascript:;" data-toggle="collapse" data-target="#options"><h4>Recent Activities</h4></a>
			</div>
			<div class="scroll-pane">
				<ul class="media-list scroll-content">
					<li class="media new">
						<a href="#">
							<div class="media-left">
								<span class="icon success"><i class="ion-checkmark-circled"></i></span>
							</div>
							<div class="media-body">
								<span class="name">Jerrod Miller</span> ‒ added a new appointemet to your calendar.
								<span class="time">8 mins ago</span>
							</div>
						</a>
					</li>
					<li class="media new">
						<a href="#">
							<div class="media-left">
								<span class="icon purple"><i class="ion-refresh"></i></span>
							</div>
							<div class="media-body">
								<span class="name">Ben Hepworth</span> ‒ commented on your shared post...
								<span class="time">16 mins ago</span>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="#">
							<div class="media-left">
								<span class="icon blue"><i class="ion-android-document"></i></span>
							</div>
							<div class="media-body">
								<span class="name">Ken Duren</span> ‒ added 2 attachments to your post...
								<span class="time">32 mins ago</span>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="#">
							<div class="media-left">
								<span class="icon teal"><i class="ion-checkmark-round"></i></span>
							</div>
							<div class="media-body">
								<span class="name">Ken Mauren</span> ‒ paild an invoice for $2,900.32...
								<span class="time">2 hrs ago</span>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="#">
							<div class="media-left">
								<span class="icon lime"><i class="ion-close-round"></i></span>
							</div>
							<div class="media-body">
								<span class="name">Danial Saracino</span> ‒ add new metting to your calendar.
								<span class="time">4 hrs ago</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>