<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">
      <img class="img-white" src="assets/img/logo-white.png" alt="Tectonic">
      <img class="img-dark" src="assets/img/logo-dark.png" alt="Tectonic">
    </a>
  </div>
  <!-- Trigger -->
  <span id="trigger-leftbar" class="toolbar-trigger">
    <a data-toggle="tooltips" data-placement="right" title="Toggle Leftbar"><span class="icon"><i class="ion-android-arrow-back"></i></span></a>
  </span>
  <span id="trigger-infobar" class="toolbar-trigger">
    <a data-toggle="tooltips" data-placement="left" title="Toggle Infobar"><span class="icon"><i class="ion-settings"></i></span></a>
  </span>
  <span class="toolbar-trigger">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tectonic-topnav-collapsible" aria-expanded="false">
      <span class="icon"><i class="ion-more"></i></span>
    </button>
  </span>
  <!-- Togglable navigation -->
  <div class="collapse navbar-collapse" id="tectonic-topnav-collapsible">
    <ul class="yamm nav navbar-nav navbar-left">
      <li id="widget-tabbeddropdown" class="dropdown dropdown-lg">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon"><i class="icon_folder-open_alt"></i></span>
          <span class="text hidden-sm hidden-lg hidden-md">Dropdown with Tabs</span>
        </a>
        <div class="dropdown-menu tabbed">
          <ul class="row">
            <li class="col-xs-3">
              <a data-toggle="tab" data-target="#dropdown-tab" class="" aria-expanded="true">
                <span class="icon"><i class="ion-android-done-all"></i></span>
              </a>
            </li>
            <li class="col-xs-3 active ">
              <a data-toggle="tab" data-target="#dropdown-tab2" class="" aria-expanded="true">
                <span class="icon"><i class="ion-shuffle"></i></span>
              </a>
            </li>
            <li class="col-xs-3">
              <a data-toggle="tab" data-target="#dropdown-tab3" class="" aria-expanded="true">
                <span class="icon"><i class="ion-calendar"></i></span>
              </a>
            </li>
            <li class="col-xs-3">
              <a data-toggle="tab" data-target="#dropdown-tab4" class="" aria-expanded="true">
                <span class="icon"><i class="ion-arrow-down-c"></i></span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="dropdown-tab" class="tab-pane">
              <ul class="media-list scroll-content">
                <li>
                  <span class="category-heading">Pending</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_02.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_03.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_04.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li>
                  <span class="category-heading">Recently Approved</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_05.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-checkmark-round"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <img class="avatar" alt="" src="assets/demo/avatar/avatar_07.png">
                    </div>
                    <div class="media-body">
                      <span class="name">Amy Green</span>
                      <span class="time">2 mins ago</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="dropdown-tab2" class="tab-pane active">
              <ul class="media-list scroll-content">
                <li>
                  <span class="category-heading">Design</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-body">
                      <span class="text">Admin dashboard psd design</span> 
                      <div class="progress">
                        <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                      </div>
                    </div>
                    <div class="media-right">
                      <span class="icon text">
                        50%
                      </span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-body">
                      <span class="text">Admin dashboard psd design</span> 
                      <div class="progress">
                        <div class="progress-bar progress-bar-lime" style="width: 87%"></div>
                      </div>
                    </div>
                    <div class="media-right">
                      <span class="icon text">
                        87%
                      </span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-body">
                      <span class="text">Admin dashboard psd design</span> 
                      <div class="progress">
                        <div class="progress-bar progress-bar-lime" style="width: 44%"></div>
                      </div>
                    </div>
                    <div class="media-right">
                      <span class="icon text">
                        44%
                      </span>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-body">
                      <span class="text">Admin dashboard psd design</span> 
                      <div class="progress">
                        <div class="progress-bar progress-bar-lime" style="width: 78%"></div>
                      </div>
                    </div>
                    <div class="media-right">
                      <span class="icon text">
                        78%
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <span class="category-heading">Design</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-body">
                      <span class="text">Admin dashboard psd design</span> 
                      <div class="progress">
                        <div class="progress-bar progress-bar-lime" style="width: 90%"></div>
                      </div>
                    </div>
                    <div class="media-right">
                      <span class="icon text">
                        90%
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="dropdown-tab3" class="tab-pane">
              <ul class="media-list scroll-content">
                <li>
                  <span class="category-heading">Pending</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox1"  class="tectonic"/>
                        <label for="checkbox1"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text">Create invoice mockup psd and convert to HTML/CSS</span> 
                      <span class="info text-muted">assigned to Patrick Kim</span> 
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox2"  class="tectonic"/>
                        <label for="checkbox2"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text">Add animation to interface elements and custom dropdowns</span>
                      <span class="info text-muted">assigned to Patrick Kim</span> 
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox3"  class="tectonic"/>
                        <label for="checkbox3"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text">Create invoice mockup psd and convert to HTML/CSS</span> 
                      <span class="info text-muted">assigned to Patrick Kim</span> 
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox4"  class="tectonic"/>
                        <label for="checkbox4"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text">Create invoice mockup psd and convert to HTML/CSS</span> 
                      <span class="info text-muted">assigned to Patrick Kim</span> 
                    </div>
                  </div>
                </li>
                <li>
                  <span class="category-heading">Completed</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox5"  class="tectonic" checked/>
                        <label for="checkbox5"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text text-muted"><strike><em>Fix a bunch of angular bugs</em></strike></span> 
                      <span class="info text-muted"><strike><em>assigned to Patrick Kim</em></strike></span> 
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox6"  class="tectonic" checked/>
                        <label for="checkbox6"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text text-muted"><strike><em>Fix a bunch of angular bugs</em></strike></span> 
                      <span class="info text-muted"><strike><em>assigned to Patrick Kim</em></strike></span> 
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-content">
                    <div class="media-left">
                      <span class="input">
                        <input type="checkbox" name="ham" value="1" id="checkbox7"  class="tectonic" checked/>
                        <label for="checkbox7"></label>
                      </span>
                    </div>
                    <div class="media-body">
                      <span class="text text-muted"><strike><em>Fix a bunch of angular bugs</em></strike></span> 
                      <span class="info text-muted"><strike><em>assigned to Patrick Kim</em></strike></span> 
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="dropdown-tab4" class="tab-pane">
              <ul class="media-list scroll-content">
                <li>
                  <span class="category-heading">Today</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-arrow-down-a"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <span class="icon success">ps</span>
                    </div>
                    <div class="media-body">
                      <a class="link">admin dashboard.psd</a>
                      <span class="time">by Patrick Kim</span>

                    </div>
                  </div>                                                                      
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-arrow-down-a"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <span class="icon success">le</span>
                    </div>
                    <div class="media-body">
                      <a class="link">ui kit material.psd</a>
                      <span class="time">by Harry Wright</span>

                    </div>
                  </div>                                                                      
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-arrow-down-a"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <span class="icon success">ps</span>
                    </div>
                    <div class="media-body">
                      <a class="link">admin dashboard.psd</a>
                      <span class="time">by Patrick Kim</span>

                    </div>
                  </div>                                                                      
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-arrow-down-a"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <span class="icon success">zi</span>
                    </div>
                    <div class="media-body">
                      <a class="link">demo stock photos.psd</a>
                      <span class="time">by Anna Marshall</span>
                    </div>
                  </div>                                                                      
                </li>
                <li>
                  <span class="category-heading">Older</span>
                </li>
                <li class="media">
                  <div class="media-content">
                    <span class="action">
                      <a class="approve"><i class="ion-arrow-down-a"></i></a>
                      <a class="reject"><i class="ion-close-round"></i></a>
                    </span>
                    <div class="media-left">
                      <span class="icon success">ps</span>
                    </div>
                    <div class="media-body">
                      <a class="link">profile page.psd</a>
                      <span class="time">by Patrick Kim</span>
                    </div>
                  </div>                                                                      
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown-footer clearfix">
            <a href="#" class="pull-left">See all</a>
            <a href="#" class="pull-right">Settings</a>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon"><i class="icon_flowchart_alt"></i></span>
          <span class="text hidden-sm">Megamenu</span>
        </a>
        <ul id="megamenu" class="dropdown-menu" style="width: 900px;">
          <li>
            <div class="yamm-content container-sm-height">
              <div class="row row-sm-height yamm-col-bordered">
                <div class="col-md-3 col-sm-3 col-sm-height yamm-col">                                            
                  <h3 class="yamm-category">Group</h3>
                  <ul class="list-unstyled without-icon">
                    <li><a href="#"><i class="ion-android-create"></i><span>Link</span></a></li>
                    <li><a href="#"><i class="ion-settings"></i><span>Another link</span></a></li>
                    <li><a href="#"><i class="ion-videocamera"></i><span>Something</span></a></li>
                    <li><a href="#"><i class=""></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-arrow-down-a"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-unlocked"></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-shuffle"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-arrow-return-right"></i><span>Seperated link</span></a></li> 
                  </ul>                                    
                </div>
                <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
                  <h3 class="yamm-category">Group</h3>
                  <ul class="list-unstyled without-icon">
                    <li><a href="#"><i class="ion-android-create"></i><span>Link</span></a></li>
                    <li><a href="#"><i class="ion-settings"></i><span>Another link</span></a></li>
                    <li><a href="#"><i class="ion-videocamera"></i><span>Something</span></a></li>
                    <li><a href="#"><i class=""></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-arrow-down-a"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-unlocked"></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-shuffle"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-arrow-return-right"></i><span>Seperated link</span></a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
                  <h3 class="yamm-category">With Icons</h3>
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="ion-android-create"></i><span>Link</span></a></li>
                    <li><a href="#"><i class="ion-settings"></i><span>Another link</span></a></li>
                    <li><a href="#"><i class="ion-videocamera"></i><span>Something</span></a></li>
                    <li><a href="#"><i class=""></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-arrow-down-a"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-unlocked"></i><span>Without icon</span></a></li>
                    <li><a href="#"><i class="ion-shuffle"></i><span>More</span></a></li>
                    <li><a href="#"><i class="ion-arrow-return-right"></i><span>Seperated link</span></a></li>
                  </ul>   
                </div>
                <div class="col-md-3 col-sm-3 col-sm-height yamm-col">
                  <h3 class="yamm-category">Login Form</h3>
                  <input id="exampleInputEmail2" class="form-control mb10" type="email" placeholder="username">
                  <input id="exampleInputPassword2" class="form-control mb10" type="password" placeholder="password">
                  <button class="btn btn-success btn-block" href="#">Login</button>
                  <br>
                  <h3 class="yamm-category">Normal Text</h3>
                  <p>Vestibulum id ligula porta felis euismod semper eget.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="sample-dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon"><i class="ion-android-arrow-down"></i></span>
          <span class="text hidden-sm">Dropdown</span>
        </a>
        <ul class="dropdown-menu">
          <li><span class="category-heading">Group</span></li>
          <li><a href="#"><i class="ion-android-create"></i><span>Link</span></a></li>
          <li><a href="#"><i class="ion-settings"></i><span>Another link</span></a></li>
          <li><a href="#"><i class="ion-videocamera"></i><span>Something</span></a></li>
          <li><a href="#"><i class=""></i><span>Without icon</span></a></li>
          <li><a href="#"><i class="ion-arrow-down-a"></i><span>More</span></a></li>
          <li><span class="category-heading">Group</span></li>
          <li><a href="#"><i class="ion-unlocked"></i><span>Without icon</span></a></li>
          <li><a href="#"><i class="ion-shuffle"></i><span>More</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ion-arrow-return-right"></i><span>Seperated link</span></a></li>
        </ul>
      </li>
      <li class="dropdown hidden-sm">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon visible-xs"><i class="ion-link"></i></span>
          <span class="text">Link</span>
        </a>
      </li>
      <li class="hidden-sm"><a href=""><span class="icon"><i class="ion-plus"></i></span><span class="text hidden-lg hidden-sm hidden-md">Add item</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown dropdown-lang-picker" id="sample-dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon"><i class="icon_globe-2"></i></span>
          <span class="text visible-xs">Languages</span>
        </a>
        <ul class="dropdown-menu">
          <li><span class="category-heading">Localisation</span></li>
          <li><a href="#"><i class="ion-android-create"></i><span class="select_local">English</span></a></li>
          <li><a href="#"><i class="ion-settings"></i><span class="select_local">France</span></a></li>
        </ul>
      </li>
      <li class="" id="trigger-fullscreen">
        <a href="#" class="toggle-fullscreen"><span class="icon"><i class="arrow_expand"></i></span><span class="text hidden-sm hidden-lg hidden-md">Go to Fullscreen</span></a>
      </li>
      <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
          <span class="icon"><i class="ion-android-mail"></i></span>
          <span class="text hidden-sm hidden-lg hidden-md">Notifications</span>
          <span class="badge badge-pink">2</span>
        </a>
        <div class="dropdown-menu messages">
          <div class="dropdown-header clearfix">
            <span class="pull-left">2 new message(s)</span>
            <span class="mark-read pull-right"><i class="ion-android-done-all"></i></span>
          </div>
          <div class="scroll-pane">
            <ul class="media-list scroll-content">
              <li class="media new">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_01.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Amy Green</span><span class="message">Integer vitae libero ac risus egestas placerat.</span>
                    <span class="time">2 mins ago</span>
                  </div>
                </a>
              </li>
              <li class="media new">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_09.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Daniel Andrews</span><span class="message">Vestibulum commodo felis quis tortor</span>
                    <span class="time">40 mins ago</span>
                  </div>
                </a>
              </li>
              <li>
                <span class="category-heading">Older</span>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_03.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Harold Hawkins</span><span class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                    <span class="time">8 days ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_02.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Jane Simpson</span><span class="message">Fusce lobortis lorem at ipsum semper sagittis.</span>
                    <span class="time">6 hours ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_04.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Brian Fisher</span><span class="message">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</span>
                    <span class="time">16 hours ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_05.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Dylan Black</span><span class="message">Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor.</span>
                    <span class="time">2 days ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <img class="avatar" alt="" src="assets/demo/avatar/avatar_06.png">
                  </div>
                  <div class="media-body">
                    <span class="name">Bobby Harper</span><span class="message">Sed adipiscing ornare risus. Morbi est est, blandit sit amet.</span>
                    <span class="time">4 days ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="dropdown-footer clearfix">
            <a href="#" class="pull-left">See all</a>
            <a href="#" class="pull-right">Settings</a>
          </div>
        </div>
      </li>

      <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
          <span class="icon"><i class="ion-android-notifications"></i></span>
          <span class="text hidden-sm hidden-lg hidden-md">Notifications</span>
          <span class="badge badge-deep-purple">2</span>
          <!-- <span class="label label-deep-purple hidden-lg hidden-sm hidden-md">text</span> -->
        </a>

        <div class="dropdown-menu notifications">
          <div class="dropdown-header clearfix">
            <span class="pull-left">2 new notification(s)</span>
            <span class="mark-read pull-right"><i class="ion-android-done-all"></i></span>
          </div>
          <div class="scroll-pane">
            <ul class="media-list scroll-content">
              <li class="media new">
                <a href="#">
                  <div class="media-left">
                    <span class="icon success"><i class="ion-checkmark-circled"></i></span>
                  </div>
                  <div class="media-body">
                    <span class="name">Jerrod Miller</span> is now following you.</span></span>
                    <span class="time">8 mins ago</span>
                  </div>
                </a>
              </li>
              <li class="media new">
                <a href="#">
                  <div class="media-left">
                    <span class="icon purple"><i class="ion-refresh"></i></span>
                  </div>
                  <div class="media-body">
                    <span class="name">Ben Hepworth</span> updated project <span class="link">Marvin</span>
                    <span class="time">16 mins ago</span>
                  </div>
                </a>
              </li>
              <li>
                <span class="category-heading">Older</span>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <span class="icon blue"><i class="ion-android-document"></i></span>
                  </div>
                  <div class="media-body">
                    <span class="name">Ken Duren</span> added new files.</span>
                    <span class="time">32 mins ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <span class="icon teal"><i class="ion-checkmark-round"></i></span>
                  </div>
                  <div class="media-body">
                    Your changes were saved.
                    <span class="time">2 hrs ago</span>
                  </div>
                </a>
              </li>
              <li class="media">
                <a href="#">
                  <div class="media-left">
                    <span class="icon lime"><i class="ion-close-round"></i></span>
                  </div>
                  <div class="media-body">
                    <span class="name">Danial Saracino</span> deleted project <span class="link">Avalon</span></span>
                    <span class="time">4 hrs ago</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="dropdown-footer clearfix">
            <a href="#" class="pull-left">See all</a>
            <a href="#" class="pull-right">Settings</a>
          </div>
        </div>
      </li>

      <li class="dropdown username">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <span class="icon visible-xs"><i class="ion-android-person"></i></span>
          <span class="text hidden-sm">jon@tectonic.io</span>
          <span class="avatar"><img class="img-responsive img-rounded" src="assets/demo/avatar/avatar_06.png"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="userinfo">
              <span class="avatar"><img class="img-responsive img-circle" src="assets/demo/avatar/avatar_06.png"></span>
              <span class="name">Jonathan Smith</span>
              <span class="email">jon@tectonic.io</span>
              <button class="btn btn-orange btn-sm mt-md">Upgrade</button>
            </div>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ion-android-create"></i><span>Edit Profile</span></a></li>
          <li><a href="#"><i class="ion-arrow-down-c"></i><span>Downloads</span></a></li>
          <li><a href="#"><i class="ion-ios-settings-strong"></i><span>Settings</span></a></li>
          <li><a href="#"><i class="ion-help-buoy"></i><span>Support</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ion-arrow-right-c"></i><span>Logout</span></a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</header>