<header id="topnav" class="navbar navbar-default navbar-fixed-top clearfix" role="banner">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">Tectonic</a>
	</div>
	<span id="trigger-leftbar" class="toolbar-trigger toolbar-icon-bg">
		<a data-toggle="tooltips" data-placement="right" title="Toggle leftbar"><span class="icon-bg"><i class="ti ti-shift-left"></i></span></a>
	</span>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li>
		</ul>
	</div><!--/.nav-collapse -->
	<span id="trigger-infobar" class="toolbar-trigger toolbar-icon-bg">
		<a data-toggle="tooltips" data-placement="left" title="Toggle Infobar"><span class="icon-bg"><i class="ti ti-more-alt"></i></span></a>
	</span>
	<ul class="nav navbar-nav toolbar pull-right">
		<li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
			<a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
		</li>
		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-info">5</span></a>
			<div class="dropdown-menu dropdown-alternate notifications arrow">
				<div class="dd-header">
					<span>Notifications</span>
					<span><a href="#">Settings</a></span>
				</div>
				<div class="scrollthis scroll-pane">
					<ul class="scroll-content">
						<li class="">
							<a href="#" class="notification-info">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="notification-success">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="notification-primary">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="notification-danger">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="notification-primary">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
						<li class="">
							<a href="#" class="notification-info">
								<div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
								<div class="notification-content">Succesfully updated to version 1.0.1</div>
								<div class="notification-time">40m</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="dd-footer">
					<a href="#">View all notifications</a>
				</div>
			</div>
		</li>
		<li class="dropdown toolbar-icon-bg hidden-xs">
			<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span></a>
			<div class="dropdown-menu dropdown-alternate messages arrow">
				<div class="dd-header">
					<span>Messages</span>
					<span><a href="#">Settings</a></span>
				</div>
				<div class="scrollthis scroll-pane">
					<ul class="scroll-content">
						<li class="">
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_09.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">Steven Shipe</span>
									<span class="msg">Nonummy nibh epismod lorem ipsum</span>
								</div>
								<span class="msg-time">30s</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_01.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">Roxann Hollingworth <i class="fa fa-paperclip attachment"></i></span>
									<span class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
								</div>
								<span class="msg-time">5m</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_05.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">Diamond Harlands</span>
									<span class="msg">:)</span>
								</div>
								<span class="msg-time">3h</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_02.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">Michael Serio <i class="fa fa-paperclip attachment"></i></span>
									<span class="msg">Sed distinctio dolores fuga molestiae modi?</span>
								</div>
								<span class="msg-time">12h</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_03.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">Matt Jones</span>
									<span class="msg">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et mole</span>
								</div>
								<span class="msg-time">2d</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="msg-avatar" src="assets/demo/avatar/avatar_07.png" alt="avatar" />
								<div class="msg-content">
									<span class="name">John Doe</span>
									<span class="msg">Neque porro quisquam est qui dolorem</span>
								</div>
								<span class="msg-time">7d</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="dd-footer"><a href="#">View all messages</a></div>
			</div>
		</li>
		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></a>
			<ul class="dropdown-menu userinfo arrow">
				<li><a href="#"><span class="pull-left">Profile</span> <span class="badge badge-info">80%</span></a></li>
				<li><a href="#"><span class="pull-left">Account</span> <i class="pull-right fa fa-user"></i></a></li>
				<li><a href="#"><span class="pull-left">Settings</span> <i class="pull-right fa fa-cog"></i></a></li>
				<li class="divider"></li>
				<li><a href="#"><span class="pull-left">Earnings</span> <i class="pull-right fa fa-line-chart"></i></a></li>
				<li><a href="#"><span class="pull-left">Statement</span> <i class="pull-right fa fa-list-alt"></i></a></li>
				<li><a href="#"><span class="pull-left">Withdrawals</span> <i class="pull-right fa fa-dollar"></i></a></li>
				<li class="divider"></li>
				<li><a href="#"><span class="pull-left">Sign Out</span> <i class="pull-right fa fa-sign-out"></i></a></li>
			</ul>
		</li>
	</ul>
</header>