{% extends 'layout' %}
{% block title %}Pricing Table{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Extras</a></li>
<li class="active"><a href="extras-pricingtable.html">Pricing Table</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="row pricing-table-2-container"> 
	<div class="col-md-3">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Trial Member</h3>
				<h4><i>$</i>5.99<span>Per Month</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>10GB Disk Space</li>
				<li>100GB Bandwidth</li>
				<li><del>10 Email Accounts</del></li>
				<li><del>Unlimited Subdomains</del></li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<a href="#" class="btn btn-lg btn-default-alt">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Paid Member</h3>
				<h4><i>$</i>9.99<span>Per Month</span> </h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>20GB Disk Space</li>
				<li>200GB Bandwidth</li>
				<li>20 Email Accounts</li>
				<li><del>Unlimited Subdomains</del></li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<a href="#" class="btn btn-lg btn-default-alt">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box pricing-active hover-effect pricing-indigo">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Gold Member</h3>
				<h4><i>$</i>19.99<span>Per Month</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>30GB Disk Space</li>
				<li>300GB Bandwidth</li>
				<li>30 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<a href="#" class="btn btn-lg btn-info">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Premium Member</h3>
				<h4><i>$</i>30.00<span>Per Month</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>40GB Disk Space</li>
				<li>400GB Bandwidth</li>
				<li>40 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<a href="#" class="btn btn-lg btn-default-alt">Sign Up</a> 
			</div>
		</div>
	</div>
</div>

{% endblock %}






