{% extends 'layout' %}
{% block title %}Pricing Table{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Extras</a></li>
<li class="active"><a href="extras-pricingtable.html">Pricing Table</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="row pricing-table-4-container"> 
	<div class="col-lg-4">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head head-list">
				<h2>Select Best Package</h2>
				<p class="text-left">Pay monthly or save annual subcription</p>
			</div>
			<ul class="pricing-content list-unstyled">
				<li class="text-menu"><i class="icon ion-android-stopwatch"></i><span class="text">Duration</span></li>
				<li class="text-menu"><i class="icon ion-camera"></i><span class="text">Unlimited Photos</span></li>
				<li class="text-menu"><i class="icon ion-document-text"></i><span class="text">Unlimited Document</span></li>
				<li class="text-menu"><i class="icon ion-ios-star"></i><span class="text">Featured</span></li>
				<li class="text-menu"><i class="icon ion-image"></i><span class="text">Image Listing</span></li>
				<li class="text-menu"><i class="icon ion-android-bulb"></i><span class="text">Highlight Listing</span></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Paid Member</h3>
				<h4>
					<div><i>$</i>9.99 </div>
					<a href="#" class="btn btn-info">Sign Up</a> 
				</h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>5 days</li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="pricing-box pricing-active hover-effect pricing-indigo">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Gold Member</h3>
				<h4>
					<div><i>$</i>19.99</div>
					<a href="#" class="btn btn-info">Sign Up</a> 
				</h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>1 week</li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Premium Member</h3>
				<h4>
					<div><i>$</i>30.00</div>
					<a href="#" class="btn btn-info">Sign Up</a> 
				</h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>10 days</li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-close-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="pricing-box hover-effect pricing-info">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Premium Member</h3>
				<h4>
					<div><i>$</i>39.99</div>
					<a href="#" class="btn btn-info">Sign Up</a> 
				</h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>2 weeks</li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
				<li><i class="ion-checkmark-round icon"></i></li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}






