{% extends 'layout-page-tabs' %}
{% block title %}Square-Circular ihover{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">UI Elements</a></li>
{% endblock %}

{% block styles %} 
{{ 'plugins/ihover/css/ihover.css' | asset_url | stylesheet_tag }}

{% endblock %}

{% block scripts %} 

{% endblock %}

{% block tablist %}
<li class="active"><a aria-expanded="true" href="#square" data-toggle="tab">Square</a></li>
<li class=""><a aria-expanded="false" href="#circle" data-toggle="tab">Circle</a></li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="square" class="tab-pane active">
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect7 right_to_left tab-pane active">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/1.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square effect6 right_to_left tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/2.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect5 left_to_right tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/3.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect14 right_to_left tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/4.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square effect13 right_to_left tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/5.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect12 left_to_right tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/6.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>

                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect5 right_to_left tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/7.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square effect9 right_to_left tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/8.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="col-md-4 mt-md">
                            <div class="ih-item square colored effect11 left_to_right tab-pane">
                                <a href="#">
                                    <div class="spinner"></div>
                                    <div class="img"><img src="assets/img/ihover/9.jpg" alt="img"></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <h3>Heading here</h3>
                                            <p>Description goes here</p>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-ios-heart"></i></button>
                                            <button class="btn btn-default m-xs btn-rounded" type="button"><i class="ion-link"></i></button>
                                        </div>
                                    </div>
                                </a>
                            </div> 
                        </div>   
                    </div> 
                    <div class="tab-pane" id="circle">
                        <div class="panel panel-primary mt-md">
                            <div class="panel-heading">
                                <h2 class="title">Circular ihover1</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect19 bottom_to_top"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/8.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->

                                    </div>
                                    <!-- end normal -->
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect2 left_to_right"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/2.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->

                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect3 top_to_bottom"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/3.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect4 right_to_left">
                                            <a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/4.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div>
                                            </a>
                                        </div> 
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect5 left_to_right"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/5.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect18 top_to_bottom"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/6.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->
                                    </div>
                                    <!-- end normal -->
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect13 right_to_left">
                                            <a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/3.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div>
                                            </a>
                                        </div> 
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect14 left_to_right"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/4.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect15 top_to_bottom"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/5.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->

                                    </div>
                                     <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect16 right_to_left">
                                            <a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/6.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div>
                                            </a>
                                        </div> 
                                    </div>
                                    <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect17 left_to_right"><a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/7.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div></a></div> 
                                        <!-- end colored -->
                                    </div>
                                     <div class="col-md-4 mt-md">
                                        <div class="ih-item circle colored effect1 right_to_left">
                                            <a href="#">
                                                <div class="spinner"></div>
                                                <div class="img"><img src="assets/img/ihover/1.jpg" alt="img"></div>
                                                <div class="info">
                                                    <div class="info-back">
                                                        <h3>Heading here</h3>
                                                        <p>Description goes here</p>
                                                        <button class="btn btn-default m-xs" type="button"><i class="ion-ios-heart"></i></button>
                                                    </div>
                                                </div>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}