{% extends 'layout-leftbar-search' %}
{% block title %}Leftbar Search{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Extras</a></li>
<li class="active"><a href="leftbar-search.html">Leftbar Search</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success alt" data-widget='{"id" : "wiget3"}'>
			<div class="panel-heading">
				<div class="panel-ctrls" 
				data-actions-container="" 
				data-action-collapse='{"target": ".panel-body, .panel-footer"}'
				data-action-colorpicker=''
				data-action-edit=''
				data-action-expand=''
				data-action-refresh=''
				data-action-close=''
				>
			</div>
			<h2>Panel</h2>
		</div>
		<div class="panel-editbox" data-widget-controls=""></div>
		<div class="panel-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nam dolore ad est molestiae quasi qui id quas, corporis, laboriosam.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nam dolore ad est molestiae quasi qui id quas, corporis, laboriosam.</p>
			</div>
			<div class="panel-footer">
				<a class="btn btn-default" href="#">Save</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}