{% extends 'layout-topnav-search' %}
{% block title %}Topnav Search{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Extras</a></li>
<li class="active"><a href="topnav-search.html">Topnav Search</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div data-widget="{&quot;id&quot; : &quot;wiget3&quot;}" class="panel panel-success alt">
			<div class="panel-heading">
				<div data-action-close="" data-action-refresh="" data-action-expand="" data-action-edit="" data-action-colorpicker="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body, .panel-footer&quot;}" data-actions-container="" class="panel-ctrls">
				</div>
				<h2>Panel</h2>
			</div>
			<div data-widget-controls="" class="panel-editbox"></div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nam dolore ad est molestiae quasi qui id quas, corporis, laboriosam.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nam dolore ad est molestiae quasi qui id quas, corporis, laboriosam.</p>
			</div>
			<div class="panel-footer">
				<a href="#" class="btn btn-default">Save</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}